<div class="top1">
    <div class="top2">
        <h2><a href="/flight" style="text-decoration: none; color: black;"><img src="static\images\3000.webp"
                    style="height:60px; width: 60px; border-radius: 20px;"></a></h2>
    </div>
</div>
<div class="text">
    <h1 class="text-center" style="text-align: center;">Flight Details!</h1>
</div>

<div class="container">
    <a href="/flight" class="btn btn-primary">+Add Flight  Details! </a>
    <table class="table table-striped mt-4" style="color:rgb(217, 226, 230) ;">
        <tr style="color:rgb(244, 11, 11) ;">
            <th>Id</th>
            <th>FlightName</th>
            <th>FlightColor</th>
            <th>FlightNo</th>
            <th>FlightSize</th>
            
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.name}}</td>
            <td>{{this.dataValues.color}}</td>
            <td>{{this.dataValues.flightno}}</td>
            <td>{{this.dataValues.flightsize}}</td>
            
            <td>
                <a href="/flightUpdate/{{this.dataValues.id}}">Edit</a> |
                <a href="/flightDelete/{{this.dataValues.id}}" class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
    <p class="text-end" style="color:rgb(217, 226, 230) ;">You are logged in as:
        <b>{{identity.name}} {{identity.color}}</b>
    </p>
</div>