<div class="top1">
    <div class="top2">
        <h2><a href="/" style="text-decoration: none; color: black;"><img src="static\images\3000.webp"
                    style="height:60px; width: 60px; border-radius: 20px;"></a></h2>
    </div>
</div>
<div class="text">
    <h1 class="text-center" style="text-align: center;">Flight Register Details!</h1>
</div>
<div class="container">

    <a href="/create" class="btn btn-primary" style="text-decoration: none;"> + Add New User Details! </a>

    <pre></pre>
    <table class="table table-striped mt-4" style="color:rgb(217, 226, 230) ;">
        <tr style="color:rgb(244, 11, 11) ;">
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DOB</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Password</th>
            
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.firstname}}</td>
            <td>{{this.dataValues.lastname}}</td>
            <td>{{this.dataValues.dob}}</td>
            <td>{{this.dataValues.mobile}}</td>
            <td>{{this.dataValues.email}}</td>
            <td>{{this.dataValues.Password}}</td>
            
            <td>
                <a href="/update/{{this.dataValues.id}}">Edit</a> |
                <a href="/delete/{{this.dataValues.id}}" class="text-danger"
                    onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
    <p class="text-end" style="color:#f4efef">You are Signin in as:
        <b>{{identity.firstname}} {{identity.lastname}}</b>
    </p>
</div>